<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201040197761-0ovebmtf7aehb6fk10i0ag806vjpcb0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201040197761-0ovebmtf7aehb6fk10i0ag806vjpcb0j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201040197761-b6hfptri4tpe2d3hd7qa3o7c4l1pd8sc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIp6fx6mwgNBJdFpTW7ZtOJLFzRerKJMs</string>
	<key>GCM_SENDER_ID</key>
	<string>201040197761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.tasq</string>
	<key>PROJECT_ID</key>
	<string>tasq-e8fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>tasq-e8fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201040197761:ios:d935e15e85d7354eb4b580</string>
</dict>
</plist>